body{
  background: linear-gradient(130deg, #00AFB9, #FED9B7);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
.NavBar{
  flex-direction: row;
  justify-content: space-between;
}
.ContainerInfo{
  flex-direction: row;
}
@media screen and (max-width : 620px) {
  .NavBar{
    flex-direction: column;
    justify-content: center;
  }
  .ContainerInfo{
    flex-direction: column;
  }
}
a{
  text-decoration: none;
  color: black;
}